

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Poppins", sans-serif;
}
body {
    display:flex;
    
    align-items: center;
    min-height:100vh;
    flex-direction: column;

}
.game a{
    position:relative ;
    padding:20px 60px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(0, 0, 0, 0.5);
    margin:40px;
    transition:1s;
    text-transform:none;
    overflow:hidden;
    -webkit-box-reflect:below 1px linear-gradient(transparent,transparent #0004);
}
body a::before{
    background:var(--clr);
    box-shadow:0 0 10px var(--clr) 0 0 30px var(--clr), 0 0 100px var(--clr);
}
.game a::before{
    content:'';
    position:absolute ;
    width:40px;
    height:400%;
    background:var(--clr);
    transition:0,25;
    animation:animate 2s linear infinite;
    animation-delay:calc(0.33s*var(--i));
}
.game a:hover:before{
    width:100%;
}
@keyframes animate{
   0%{
       transform:rotate(0deg);
   }
   100%{
       transform:rotate(360deg);
   } 
}
.game a::after{
    content:'';
    position:absolute ;
    inset:4px;
    background:#0e1538;
    transition:0,5s;
}
.game a:hover::after{
    background:var(--clr);  
}
.game a span{
    position:relative ;
    z-index:1;
    font-size:2em;
    color:#fff;
    opacity:0.5;
    text-transform:uppercase ;
    letter-spacing:4px;
    transition:0,5s;
}
.game a:hover span{
    opacity:1;
    }
    
.menu .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  background: rgba(0, 0, 0, 0.7) url('../img/image.jpg');
  background-size: cover;
  background-blend-mode: darken;
  padding:8px 8px 8px 2px;
}


.menu .nav-list {
  width:95%;
  align-items: center;
  display: flex;

}

.menu .nav-list li {
  list-style: none;
  padding: 5px 5px 5px 0px;
  align-items: center;
}

.menu .nav-list li a {
  text-decoration: none;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  padding: 3px;
  font-size: 20px;

}


.menu .nav-list li a:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}
.footer{
  text-align: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 22px;
  font-family: 'Ubantu', sans-serif;
  padding:5px 5px 5px 5px;
  background-size:cover;
}

body {
    background: rgb(238,174,202);
background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}
h4{ 
  background: blue;
  color: white;
}


